@import "twitter/bootstrap";

$footer_push: 35px;
$max_height: 640px;

html, body {
  height: 100%;
}

body.camera_page.index {

  background-image: url("textile.png");
  min-width: 640px;

  .modal-footer {
    margin-top: 0;
  }

  .modal-body {
    padding-bottom: 10px;
  }

  #wrap {
    height: auto;
    margin: 0 auto (-$footer_push);
    min-height: 100%;
    padding: 0 0 $footer_push;
  }

  header {
    background-image: url("red_ribbon.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 15px 0 10px;
    text-align: center;
    height:100px;
  }

  .camera {

    canvas, .photo_container {
      display: none;
    }

    img {
      width: 183px;
    }
  }

  .display {

    img {
      width: 237px;
      z-index: 2;
      position: relative;
    }

    video {
      border-radius: 8px;
      margin-top: 20px;
    }
  }

  .backside {
    .texture {
      width: 130px;
      display: block;
    }

    p {
      font-family: 'Medula One', cursive;
      font-size: 200%;
      letter-spacing: 1px;
      text-align: center;
      max-width: 127px;
    }

    .shadow_1 {
      margin-top: -150px;
      line-height: 100%;
      text-shadow: 2px 1px 2px #F8E7BB;
    }

    .shadow_2 {
      display: none;
      line-height: 90%;
      text-shadow: 2px 1px 2px #BAA46F;
    }

    .trigger_button {
      width: 50px;
      display: block;
      margin: auto;
      cursor: pointer;
      z-index: 2;
    }
  }

  .pictures {
    margin-top: 40px;

    .photo {

      margin-bottom: 20px;

      &:nth-child(1), &:nth-child(3) {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
      }

      &:nth-child(2) {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
        top: 20px;
      }

      &:nth-child(4) {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
        top: 15px;
      }

      &:nth-child(5) {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
        top: 10px;
      }

      &:nth-child(5), &:nth-child(6) {
        display: none;
      }

      p {
        background-color: #f9f9e0;
        padding: 0 15px;
        height: 100px;
        box-shadow: 0px 5px 10px 2px #222;
        -webkit-box-shadow: 0px 5px 10px 2px #222;

        &:hover {
          -webkit-transform: scale(1.25);
          transform: scale(1.25);
        }

        img {
          width: 65px;
          margin: 15px 0 0 20px;

          &.snap_shot {
            margin-left: -10px;
            margin-top: 5px;
            width: 120px;
          }
        }
      }
    }
  }

  footer {
    background-color: #8B141A;
    height: $footer_push;

    .container {
      text-align: center;

      p {
        span {
          vertical-align: sub;
        }
      }

      a {
        color: #999;
      }
    }
  }
}

  /************************************
  /***** Media Queries *****
  ************************************/

  @media (max-width: $screen-xs-min) {
    body.camera_page.index {

      .display {
        video {
          display: none;
        }
      }
    }
  }

  @media (min-width: $screen-xs-min) {
    body.camera_page.index {

      .camera {
        img {
          width: 179px;
        }
      }

      .display {

        video {
          width: 205px;
          height: 155px;
          margin-left: 10px;
        }

        img {
          width: 224px;
          margin-top: -200px
        }
      }

      .backside {
        .texture {
          width: 127px;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    body.camera_page.index {

      .camera {
        img {
          width: 220px;
        }
      }

      .display {

        video {
          width: 260px;
          height: 195px;
          margin-top: 25px;
        }

        img {
          width:278px;
          margin-top: -245px;
        }
      }

      .backside {
        .texture {
          width: 158px;
        }

        p {
          max-width: none;
        }

        .shadow_1 {
          margin-top: -195px;
        }

        .shadow_2 {
          display: block;
          margin-top: -5px;
        }

        .trigger_button {
          margin-top: -5px;
        }
      }

      .pictures {
        .photo {

          p {
            height: 110px;

            img {
              margin: 20px 0 0 30px;

              &.snap_shot {
                width: 147px;
                height: 100px;
              }
            }
          }

          &:nth-child(5), &:nth-child(6) {
            display: none;
          }
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    body.camera_page.index {

      header {
        height: 140px;
      }

      .camera {

        img {
          width: 296px;
        }
      }

      .display {

        video {
          height: 270px;
          width: 350px;
        }

        img {
          width: 374px;
          margin-top: -320px;
        }
      }

      .backside {
        .texture {
          width: 213px;
        }

        p {
          font-size: 230%;
        }

        .shadow_1 {
          margin-top: -250px;
          margin-bottom: 20px;
        }

        .shadow_2 {
          margin-top: 5px;
        }

        .trigger_button {
          width: 60px;
        }
      }

      .pictures {
        .photo {

          p {
            height: 100px;

            img {
              margin: 15px 0 0 20px;

              &.snap_shot {
                width: 121px;
                height: 90px;
              }
            }
          }

          &:nth-child(5), &:nth-child(6) {
            display: block;
          }
        }
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    body.camera_page.index {

      header {
        background-image: url("large_ribbon.png");
      }

      .display {

        video {
          margin-left: 40px;
        }

        img {
          margin-left: 30px;
        }
      }

      .backside {
        .texture {
          margin-left: 45px;
        }

        p {
          margin-left: 35px;
        }
      }

      .pictures {
        .photo {

          p {
            height: 120px;

            img {
              width: 75px;
              margin: 20px 0 0 25px;

              &.snap_shot {
                width: 155px;
                height: 110px;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: $screen-xs-min) and (max-height: $max_height) {
    body.camera_page.index {

      header {
        margin-bottom: 0;
      }

      .pictures {
        margin-top: 20px;
      }
    }
  }
