@font-face {
  font-family: "Medula One";
  font-style: normal;
  font-weight: 400;
  src: local("Medula One"), local("MedulaOne-Regular"), url("http://themes.googleusercontent.com/static/fonts/medulaone/v3/LoO8LDXpiOs8e6qJRLl2Sb3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}